* {
  box-sizing: border-box;
  font-family: monospace;
}

h1 {
  width: 100%;
  text-align: center;
}

.grid {
  background: #f4f2f3;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 33.333%;
}

.grid-item {
  float: left;
}

.grid-item img {
  display: block;
  max-width: 100%;
}
